@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html {
    height: 100%;
    width: 100%;
}
body {
    height: auto;
    width: auto;
    background-image: url(../../images/background2.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.8);
    margin-top: 12%;
    padding: 5rem;
}

header h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'Libre Barcode 128 Text', cursive;
    color: #fed766;
}

.menu ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu ul li {
    font-weight: bolder;
    font-family: 'Source Code Pro', monospace;
    color: #b3cde0;
}

a {
    text-decoration: none;
    color: #f6abb6;
}

a.toggled {
    color: mediumspringgreen;
}

a:hover {
    color: lightseagreen;
}


.menu {
    margin-bottom: 2rem;
}

p#generatedText {
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 0.8rem;
    font-family: 'Source Code Pro', monospace;
    color: #b3cde0;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 649px) {
    header h1 {
        font-size: 3rem;
    }
    .menu ul {
        font-size: 0.7em;
    }
}